.container {
    position: relative;
    float: right;
    width: calc(100% - var(--sidebar-admin-width));
    min-height: 100vh;
    background-color: #f4f3ef;
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.content {
    margin-top: var(--margin-top-admin-content);
    padding: 0 30px 30px;
}
