.sale {
    width: 100%;
    margin: 10px 0px;
    border: 1px solid var(--gray-color);
    padding-bottom: 10px;
}

.sale-title {
    width: 100%;
    background-color: var(--red-color);
    color: var(--white-color);
    padding: 10px 18px;
    font-weight: 700;
}

.sale-products {
    width: 100%;
    display: flex;
    margin-top: 10px;
    overflow-x: hidden;
}

.sale-item {
    display: block;
    position: relative;
    border: 0px solid transparent;
    transition: all linear 0.1s;
    &:hover {
        border: 1px solid #ffa67b;
    }
}

.sale-item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
}

.sale-item-detail {
    padding: 6px 12px;
}

.sale-item-name {
    height: 40px;
    line-height: 1.7rem;
}

.sale-item-new-price {
    color: red;
}

.sale-item-last-price {
    margin-left: 10px;
    text-decoration: line-through;
}

.sale-item-sale-off {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 12px;
    left: 12px;
    font-size: 1.5rem;
    height: 40px;
    width: 40px;
    color: var(--white-color);
    background-color: var(--red-color);
    border-radius: 50%;
    font-style: italic;
    font-weight: 500;
}
