.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2;
}

.label {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: 550;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.container {
    width: 100%;
    border: 1px solid var(--gray-color);
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;

    &::-ms-input-placeholder {
        /* Edge 12-18 */
        opacity: 0.6;
    }

    &::placeholder {
        opacity: 0.6;
    }
}

.input-error {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 5px;
    margin-bottom: -10px;
    font-weight: 600;
    color: var(--red-color);
}

.error {
    border: 1px solid var(--red-color);
}

.input-error-mess {
    margin-left: 5px;
}

.text-area {
    min-width: 50%;
    max-width: 100%;
    min-height: 100px;
    max-height: 320px;
}
