.product-item {
    display: block;
    transition: transform ease-in 0.1s;
    will-change: transform;
    position: relative;
    margin-top: 20px;
    padding-bottom: 10px;
    border-radius: 1px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);

    &:hover {
        transform: translateY(-1px);
        box-shadow: 0 0.1rem 2rem 0 rgba(0, 0, 0, 0.05);
    }
}

.product-img-wrapper {
    display: block;
    overflow: hidden;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.product-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-radius: 3px;

    transform: scale3d(0.95, 0.95, 0.95);
    //transition: transform 1s linear;

    &:hover,
    &:focus {
        transform: scale3d(1, 1, 1);
        transition: transform 0.5s linear;
    }
}

.product-name {
    margin: 10px 10px 5px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: var(--text-color);
    height: 3.4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.product-old-price {
    margin: 0px 10px;
    font-size: 1.3rem;
    color: var(--gray-color);
    text-decoration: line-through;
}

.product-new-price {
    font-size: 1.5rem;
    color: var(--red-color);
}

.product-sale-off {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 7px;
    right: 7px;
    border-radius: 50%;
    background-color: var(--red-color);
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
    font-style: italic;
}
