.wrapper {
    width: 100%;
    min-height: 1000px;
    margin-top: var(--default-layout-header-height);
}

.container {
    width: 100%;
    margin: 10px 0px;
}
.sidebar {
    width: var(--default-layout-sidebar-width);
}

.content {
    flex: 1;
    min-height: 1000px;
    text-align: center;
    border: 1px solid salmon;
}
