.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: var(--default-layout-width);
    max-width: 100%;
    min-height: 1000px;
    margin-top: 4px;
}

.sidebar {
    width: var(--default-layout-sidebar-width);
}

.content {
    flex: 1;
    background-color: rgb(199, 201, 198);
    min-height: 1000px;
    text-align: center;
}
