.wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 5px;
    background-color: #ebebeb;
    padding: 5px;
}

.content-left {
    background-color: #ebebeb;
}

.content-title {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.2rem;
    margin-right: 10px;
}

.content-select {
    width: 150px;
    padding: 5px;
    border: 0px;
    outline: none;
}
