.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: var(--default-layout-header-height);
    z-index: 10;
}

.top-menu {
    background-color: #f9f9f9;
    width: 100%;
    height: 42px;

    .inner-menu {
        margin: 0px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .left-menu,
    .right-menu {
        padding: 9px 0px;
    }

    .tittle {
        color: rgba(var(--gray-color-rgb), 0.7);
        font-weight: 600;

        .phone-icon {
            margin-right: 5px;
        }

        .location-icon {
            margin: 0px 5px 0px 16px;
        }
    }
}

// mid section
.mid-section {
    width: 100%;
    background-color: var(--white-color);
}

.inner-mid-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .link-logo {
        max-height: 67px;
    }

    .logo {
        width: 210px;
        height: 67px;
        cursor: pointer;
    }

    .wishlist-cart {
        font-weight: 600;
        display: flex;
        padding: 0px 16px;

        .wishlist-cart-item {
            cursor: pointer;
            position: relative;

            + .wishlist-cart-item {
                margin-left: 40px;
            }
        }

        .icon {
            margin-right: 8px;
            color: #aaa;
        }

        .badge {
            width: 22px;
            height: 18px;
            position: absolute;
            top: -5px;
            left: 17px;
            color: var(--white-color);
            background-color: var(--red-color);
            border-radius: 999px;
            font-size: 1.4rem;
            line-height: 1.8rem;
            text-align: center;
        }
    }
}

.navigation {
    width: 100%;
    background-color: var(--deep-blue-color);

    .inner-navigation {
        margin: 0px;

        .navigation-list {
            display: flex;
            align-items: center;
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            height: 42px;

            .navigation-item,
            .navigation-item-category {
                height: 100%;

                .title {
                    display: flex;
                    align-items: center;
                    color: var(--white-color);
                    height: 100%;
                    padding: 0px 20px;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.5rem;
                    &.active {
                        color: white;
                        background-color: var(--blue-color);
                    }
                }
                &:hover {
                    background-color: rgb(33 99 188 / 83%);
                }
            }

            .navigation-item-category {
                width: var(--default-layout-category-width);
            }
        }
    }
}

.category-menu {
    width: var(--default-layout-category-width);
    background-color: var(--white-color);
    margin-top: -10px;

    .category-menu-list {
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;

        .category-menu-item {
            padding: 10px 22px;
            font-size: 1.3rem;
            border: 1px solid transparent;
            transition: border 0.2s linear;

            &:hover {
                border: 1px solid black;
            }
        }

        .category-menu-item a {
            display: flex;
            align-items: center;
        }

        .category-menu-icon {
            width: 24px;
            height: 24px;
            object-fit: cover;
            margin-right: 10px;
        }
    }
}
